body {
  margin: 2em auto auto auto;
  font-family: 'Crimson Text', serif;
  max-width: 1070px;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  padding: 1em;
  margin: 0.5em;
}

.title {
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.14em;
  margin-top: 0;
}

.legislator-info {
  list-style: none;
}

.legislator-name {
  margin: 0;
}

.legislator-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.legislator-tiles {
  display: flex;
  flex-wrap: wrap;
}

.democrat {
  border-left: solid blue 7px;
}

.republican {
  border-left: solid red 7px;
}

.green {
  border-left: solid green 7px;
}

.libertarian {
  border-left: solid goldenrod 7px;
}

.constitution {
  border-left: 7px solid;
  -moz-border-image: -moz-linear-gradient(top, red 0%, white 50%, blue 100%);
  -webkit-border-image: -webkit-linear-gradient(top, red 0%, white 50%, blue 100%);
  border-image: linear-gradient(to bottom, red 0%, white 50%, blue 100%);
  border-image-slice: 1;
}

.independent {
  border-left: solid purple 7px;
}

.other {
  border-left: solid #0f0f0f 7px;
}

a {
  color: #284168;
  text-decoration: none;
  font-weight: bold;
}

i {
  padding-right: 10px;
}
