body {
  margin: 2em;
  font-family: 'Crimson Text', serif;
}

.title {
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.14em;
  margin-top: 0;
}

ul {
  list-style: none;
}
